extends layout

block css
	link(rel='stylesheet', href='/css/main.css')


block content
	h1 Country Finder

	div.container
		input(id="searchInpt", type="text")
		input(id="searchSubmit", type="submit", value="Find Country")
		input(id="countryLoad", type="submit", value="Load Countries")

	div.container
		ul#countryList

block scripts
	script(src="/javascripts/main.js")

